## Observations and Insights

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resource/Mouse_metadata.csv"
study_results_path = "Resource/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
Trial_data_complete = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])

# Display the data table for preview
Trial_data_complete_df = Trial_data_complete
Trial_data_complete_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [7]:
# Checking the number of mice.
No_of_mouse = len(Trial_data_complete_df["Mouse ID"].unique())
No_of_mouse

249

In [8]:
#Rename the column Name for Mouse ID to MouseID
Trial_data_complete_renamed_df = Trial_data_complete_df.rename(columns={"Mouse ID":"MouseID"})
Trial_data_complete_renamed_df

,MouseID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [9]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Inserting a new column by concat Mouse ID and timepoint to identify any duplicated data (search from Youtube)
Trial_data_complete_renamed_df["MouseID_Timepoint"] = Trial_data_complete_renamed_df["MouseID"] + '-' + Trial_data_complete_renamed_df["Timepoint"].astype(str)
Trial_data_complete_renamed_df

,MouseID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,MouseID_Timepoint
0,k403,Ramicane,Male,21,16,0,45.000000,0,k403-0
1,k403,Ramicane,Male,21,16,5,38.825898,0,k403-5
2,k403,Ramicane,Male,21,16,10,35.014271,1,k403-10
3,k403,Ramicane,Male,21,16,15,34.223992,1,k403-15
4,k403,Ramicane,Male,21,16,20,32.997729,1,k403-20
...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,z969-25
1889,z969,Naftisol,Male,9,30,30,65.841013,3,z969-30
1890,z969,Naftisol,Male,9,30,35,69.176246,4,z969-35
1891,z969,Naftisol,Male,9,30,40,70.314904,4,z969-40
1892,z969,Naftisol,Male,9,30,45,73.867845,4,z969-45

In [10]:
#Save the rename df to a variable
Trial_data_complete_rename =Trial_data_complete_renamed_df

In [11]:
#Find out how many duplicated data for the same MouseID and same Timepoint (search from youtube)
Trial_data_complete_renamed_df["MouseID_Timepoint"].duplicated().sum()

5

In [12]:
#Call out and print those 5 duplicated data by the column "MouseID_Timepoint"
#Result show they are related to one particular MouseID
Trial_data_complete_rename.loc[Trial_data_complete_renamed_df["MouseID_Timepoint"].duplicated(), :]

,MouseID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,MouseID_Timepoint
909,g989,Propriva,Female,21,26,0,45.000000,0,g989-0
911,g989,Propriva,Female,21,26,5,47.570392,0,g989-5
913,g989,Propriva,Female,21,26,10,49.880528,0,g989-10
915,g989,Propriva,Female,21,26,15,53.442020,0,g989-15
917,g989,Propriva,Female,21,26,20,54.657650,1,g989-20

In [13]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
Trial_data_complete_cleaned_df = Trial_data_complete_rename[Trial_data_complete_rename["MouseID"] != "g989"]
Trial_data_complete_cleaned_df

,MouseID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,MouseID_Timepoint
0,k403,Ramicane,Male,21,16,0,45.000000,0,k403-0
1,k403,Ramicane,Male,21,16,5,38.825898,0,k403-5
2,k403,Ramicane,Male,21,16,10,35.014271,1,k403-10
3,k403,Ramicane,Male,21,16,15,34.223992,1,k403-15
4,k403,Ramicane,Male,21,16,20,32.997729,1,k403-20
...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,z969-25
1889,z969,Naftisol,Male,9,30,30,65.841013,3,z969-30
1890,z969,Naftisol,Male,9,30,35,69.176246,4,z969-35
1891,z969,Naftisol,Male,9,30,40,70.314904,4,z969-40
1892,z969,Naftisol,Male,9,30,45,73.867845,4,z969-45

In [14]:
#After removing the mouse that had duplicated timepoint, check how many mouse in the dataset
No_of_mouse_checker = len(Trial_data_complete_cleaned_df["MouseID"].unique())
No_of_mouse_checker

248

## Summary Statistics

In [15]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

In [16]:
#Looking at the column name
Trial_data_complete_cleaned_df.columns

Index(['MouseID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites',
       'MouseID_Timepoint'],
      dtype='object')

In [17]:
#To start my summary statistics. Have a look at how many regimens we have in the dataset
No_of_regimen = (Trial_data_complete_cleaned_df["Drug Regimen"].value_counts())
No_of_regimen

Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Placebo      181
Stelasyn     181
Infubinol    178
Ceftamin     178
Propriva     148
Name: Drug Regimen, dtype: int64

In [18]:
Mean_Tumor_Volume = Trial_data_complete_cleaned_df.groupby("Drug Regimen").mean()['Tumor Volume (mm3)']
Mean_Tumor_Volume

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.320930
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [19]:
Mean_Age_Months = Trial_data_complete_cleaned_df.groupby("Drug Regimen").mean()['Age_months']
Mean_Age_Months

Drug Regimen
Capomulin    13.456522
Ceftamin     13.247191
Infubinol    16.230337
Ketapril     15.659574
Naftisol     12.000000
Placebo      10.734807
Propriva     10.006757
Ramicane     10.684211
Stelasyn     12.784530
Zoniferol    12.598901
Name: Age_months, dtype: float64

In [20]:
Mean_Weight = Trial_data_complete_cleaned_df.groupby("Drug Regimen").mean()['Weight (g)']
Mean_Weight

Drug Regimen
Capomulin    19.965217
Ceftamin     27.398876
Infubinol    27.196629
Ketapril     27.861702
Naftisol     27.166667
Placebo      27.928177
Propriva     27.135135
Ramicane     19.679825
Stelasyn     27.856354
Zoniferol    27.692308
Name: Weight (g), dtype: float64

In [21]:
Mean_Metastatic_Sites = Trial_data_complete_cleaned_df.groupby("Drug Regimen").mean()['Metastatic Sites']
Mean_Metastatic_Sites

Drug Regimen
Capomulin    0.713043
Ceftamin     1.179775
Infubinol    0.960674
Ketapril     1.297872
Naftisol     1.182796
Placebo      1.441989
Propriva     1.013514
Ramicane     0.548246
Stelasyn     0.872928
Zoniferol    1.230769
Name: Metastatic Sites, dtype: float64

In [22]:
Median_Tumor_Volume = Trial_data_complete_cleaned_df.groupby("Drug Regimen").median()['Tumor Volume (mm3)']
Median_Tumor_Volume

Drug Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.446266
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor Volume (mm3), dtype: float64

In [23]:
Median_Age_Months = Trial_data_complete_cleaned_df.groupby("Drug Regimen").median()['Age_months']
Median_Age_Months

Drug Regimen
Capomulin    16.5
Ceftamin     12.0
Infubinol    20.0
Ketapril     18.0
Naftisol      9.0
Placebo      10.0
Propriva      7.5
Ramicane      9.0
Stelasyn     14.0
Zoniferol    12.5
Name: Age_months, dtype: float64

In [24]:
Median_Weight = Trial_data_complete_cleaned_df.groupby("Drug Regimen").median()['Weight (g)']
Median_Weight

Drug Regimen
Capomulin    20.5
Ceftamin     28.0
Infubinol    27.0
Ketapril     28.0
Naftisol     27.0
Placebo      28.0
Propriva     26.0
Ramicane     19.0
Stelasyn     28.0
Zoniferol    28.0
Name: Weight (g), dtype: float64

In [25]:
Median_Metastatic_Sites = Trial_data_complete_cleaned_df.groupby("Drug Regimen").median()['Metastatic Sites']
Median_Metastatic_Sites

Drug Regimen
Capomulin    0.0
Ceftamin     1.0
Infubinol    1.0
Ketapril     1.0
Naftisol     1.0
Placebo      1.0
Propriva     1.0
Ramicane     0.0
Stelasyn     1.0
Zoniferol    1.0
Name: Metastatic Sites, dtype: float64

In [26]:
Variance_Tumor_Volume = Trial_data_complete_cleaned_df.groupby("Drug Regimen").var()['Tumor Volume (mm3)']
Variance_Tumor_Volume

Drug Regimen
Capomulin    24.947764
Ceftamin     39.290177
Infubinol    43.128684
Ketapril     68.553577
Naftisol     66.173479
Placebo      61.168083
Propriva     43.852013
Ramicane     23.486704
Stelasyn     59.450562
Zoniferol    48.533355
Name: Tumor Volume (mm3), dtype: float64

In [27]:
Variance_Age_Months = Trial_data_complete_cleaned_df.groupby("Drug Regimen").var()['Age_months']
Variance_Age_Months

Drug Regimen
Capomulin    59.620372
Ceftamin     65.147591
Infubinol    56.404272
Ketapril     36.236432
Naftisol     45.102703
Placebo      40.384837
Propriva     48.251655
Ramicane     35.362393
Stelasyn     63.036648
Zoniferol    33.479115
Name: Age_months, dtype: float64

In [28]:
Vairance_Weight = Trial_data_complete_cleaned_df.groupby("Drug Regimen").var()['Weight (g)']
Vairance_Weight

Drug Regimen
Capomulin     7.466034
Ceftamin      2.501016
Infubinol     4.769028
Ketapril      3.392536
Naftisol      2.247748
Placebo       3.378146
Propriva      2.933995
Ramicane     10.465318
Stelasyn      2.701473
Zoniferol     2.015300
Name: Weight (g), dtype: float64

In [29]:
Variance_Metastatic_Sites = Trial_data_complete_cleaned_df.groupby("Drug Regimen").var()['Metastatic Sites']
Variance_Metastatic_Sites

Drug Regimen
Capomulin    0.720790
Ceftamin     1.402527
Infubinol    1.054942
Ketapril     1.942883
Naftisol     1.479919
Placebo      1.792449
Propriva     1.224306
Ramicane     0.477838
Stelasyn     0.944874
Zoniferol    1.559711
Name: Metastatic Sites, dtype: float64

In [30]:
Standard_Deviation_Tumor_Volume = Trial_data_complete_cleaned_df.groupby("Drug Regimen").std()['Tumor Volume (mm3)']
Standard_Deviation_Tumor_Volume

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.622085
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [31]:
Standard_Deviation_Age_Months = Trial_data_complete_cleaned_df.groupby("Drug Regimen").std()['Age_months']
Standard_Deviation_Age_Months

Drug Regimen
Capomulin    7.721423
Ceftamin     8.071406
Infubinol    7.510278
Ketapril     6.019670
Naftisol     6.715855
Placebo      6.354907
Propriva     6.946341
Ramicane     5.946629
Stelasyn     7.939562
Zoniferol    5.786114
Name: Age_months, dtype: float64

In [32]:
Standard_Deviation_Weight = Trial_data_complete_cleaned_df.groupby("Drug Regimen").std()['Weight (g)']
Standard_Deviation_Weight

Drug Regimen
Capomulin    2.732404
Ceftamin     1.581460
Infubinol    2.183810
Ketapril     1.841884
Naftisol     1.499249
Placebo      1.837973
Propriva     1.712891
Ramicane     3.235014
Stelasyn     1.643616
Zoniferol    1.419612
Name: Weight (g), dtype: float64

In [33]:
Standard_Deviation_Metastatic_Sites = Trial_data_complete_cleaned_df.groupby("Drug Regimen").std()['Metastatic Sites']
Standard_Deviation_Metastatic_Sites

Drug Regimen
Capomulin    0.848993
Ceftamin     1.184283
Infubinol    1.027104
Ketapril     1.393873
Naftisol     1.216519
Placebo      1.338824
Propriva     1.106484
Ramicane     0.691259
Stelasyn     0.972046
Zoniferol    1.248884
Name: Metastatic Sites, dtype: float64

In [34]:
SEM_Tumor_Volume = Trial_data_complete_cleaned_df.groupby("Drug Regimen").sem()['Tumor Volume (mm3)']
SEM_Tumor_Volume

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.544332
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64

In [35]:
SEM_Age_Months = Trial_data_complete_cleaned_df.groupby("Drug Regimen").sem()['Age_months']
SEM_Age_Months

Drug Regimen
Capomulin    0.509136
Ceftamin     0.604977
Infubinol    0.562919
Ketapril     0.439030
Naftisol     0.492430
Placebo      0.472356
Propriva     0.570986
Ramicane     0.393825
Stelasyn     0.590143
Zoniferol    0.428895
Name: Age_months, dtype: float64

In [36]:
SEM_Weight = Trial_data_complete_cleaned_df.groupby("Drug Regimen").sem()['Weight (g)']
SEM_Weight

Drug Regimen
Capomulin    0.180169
Ceftamin     0.118535
Infubinol    0.163684
Ketapril     0.134333
Naftisol     0.109930
Placebo      0.136615
Propriva     0.140799
Ramicane     0.214244
Stelasyn     0.122169
Zoniferol    0.105229
Name: Weight (g), dtype: float64

In [37]:
SEM_Metastatic_Sites = Trial_data_complete_cleaned_df.groupby("Drug Regimen").sem()['Metastatic Sites']
SEM_Metastatic_Sites

Drug Regimen
Capomulin    0.055981
Ceftamin     0.088766
Infubinol    0.076985
Ketapril     0.101659
Naftisol     0.089200
Placebo      0.099514
Propriva     0.090952
Ramicane     0.045780
Stelasyn     0.072252
Zoniferol    0.092573
Name: Metastatic Sites, dtype: float64

In [38]:
Summary_Statistic_df = pd.DataFrame({"Mean Tumor Volume": Mean_Tumor_Volume,
                                "Mean Weight":Mean_Weight,
                                "Mean Age_Months":Mean_Age_Months,
                                "Mean Metastatic Sites":Mean_Metastatic_Sites,
                                "Median Tumor Volume":Median_Tumor_Volume,
                                "Median Weight":Median_Weight,
                                "Median Age_Months":Median_Age_Months,
                                "Median Metastatic Site":Median_Metastatic_Sites,
                                "Variance Tumor Volume":Variance_Tumor_Volume,
                                "Variance Weight":Vairance_Weight,
                                "Variance Age_Months":Variance_Age_Months,
                                "Variance Metastatic Sites":Variance_Metastatic_Sites,
                                "Std Deviation Tumor Volume":Standard_Deviation_Tumor_Volume,
                                "Std Deviation Weight":Standard_Deviation_Weight,
                                "Std Deviation Age_Months":Standard_Deviation_Age_Months,
                                "Std Deviation Metastatic Site":Standard_Deviation_Metastatic_Sites,
                                "SEM Tumor Volume":SEM_Tumor_Volume,
                                "SEM Weight":SEM_Weight,
                                "SEM Age_Months":SEM_Age_Months,
                                "SEM Metastatic Sites":SEM_Metastatic_Sites})
Summary_Statistic_df

,Mean Tumor Volume,Mean Weight,Mean Age_Months,Mean Metastatic Sites,Median Tumor Volume,Median Weight,Median Age_Months,Median Metastatic Site,Variance Tumor Volume,Variance Weight,Variance Age_Months,Variance Metastatic Sites,Std Deviation Tumor Volume,Std Deviation Weight,Std Deviation Age_Months,Std Deviation Metastatic Site,SEM Tumor Volume,SEM Weight,SEM Age_Months,SEM Metastatic Sites
Drug Regimen,,,,,,,,,,,,,,,,,,,,
Capomulin,40.675741,19.965217,13.456522,0.713043,41.557809,20.5,16.5,0.0,24.947764,7.466034,59.620372,0.720790,4.994774,2.732404,7.721423,0.848993,0.329346,0.180169,0.509136,0.055981
Ceftamin,52.591172,27.398876,13.247191,1.179775,51.776157,28.0,12.0,1.0,39.290177,2.501016,65.147591,1.402527,6.268188,1.581460,8.071406,1.184283,0.469821,0.118535,0.604977,0.088766
Infubinol,52.884795,27.196629,16.230337,0.960674,51.820584,27.0,20.0,1.0,43.128684,4.769028,56.404272,1.054942,6.567243,2.183810,7.510278,1.027104,0.492236,0.163684,0.562919,0.076985
Ketapril,55.235638,27.861702,15.659574,1.297872,53.698743,28.0,18.0,1.0,68.553577,3.392536,36.236432,1.942883,8.279709,1.841884,6.019670,1.393873,0.603860,0.134333,0.439030,0.101659
Naftisol,54.331565,27.166667,12.000000,1.182796,52.509285,27.0,9.0,1.0,66.173479,2.247748,45.102703,1.479919,8.134708,1.499249,6.715855,1.216519,0.596466,0.109930,0.492430,0.089200
Placebo,54.033581,27.928177,10.734807,1.441989,52.288934,28.0,10.0,1.0,61.168083,3.378146,40.384837,1.792449,7.821003,1.837973,6.354907,1.338824,0.581331,0.136615,0.472356,0.099514
Propriva,52.320930,27.135135,10.006757,1.013514,50.446266,26.0,7.5,1.0,43.852013,2.933995,48.251655,1.224306,6.622085,1.712891,6.946341,1.106484,0.544332,0.140799,0.570986,0.090952
Ramicane,40.216745,19.679825,10.684211,0.548246,40.673236,19.0,9.0,0.0,23.486704,10.465318,35.362393,0.477838,4.846308,3.235014,5.946629,0.691259,0.320955,0.214244,0.393825,0.045780
Stelasyn,54.233149,27.856354,12.784530,0.872928,52.431737,28.0,14.0,1.0,59.450562,2.701473,63.036648,0.944874,7.710419,1.643616,7.939562,0.972046,0.573111,0.122169,0.590143,0.072252
Zoniferol,53.236507,27.692308,12.598901,1.230769,51.818479,28.0,12.5,1.0,48.533355,2.015300,33.479115,1.559711,6.966589,1.419612,5.786114,1.248884,0.516398,0.105229,0.428895,0.092573

## Bar and Pie Charts

(1) How to calculate the number of mouse by each drug regimen?  #I used the grougby method, but did not quite clear to get the figure in a clean format, so that I could construct a simple dataframe to plot the chart
(2) How to find out the sex of each mouse? #I used the grougby method, but did not come out in the format I need
(3) Calculate the final tumor volume - I need to filter those 4 drugs ("Capomulin, Ramicane, Infubinol and Ceftamin"), then grougby their

In [39]:
#recall the columns 
Trial_data_complete_cleaned_df.columns

Index(['MouseID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites',
       'MouseID_Timepoint'],
      dtype='object')

In [40]:
Trial_data_complete_cleaned_df

,MouseID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,MouseID_Timepoint
0,k403,Ramicane,Male,21,16,0,45.000000,0,k403-0
1,k403,Ramicane,Male,21,16,5,38.825898,0,k403-5
2,k403,Ramicane,Male,21,16,10,35.014271,1,k403-10
3,k403,Ramicane,Male,21,16,15,34.223992,1,k403-15
4,k403,Ramicane,Male,21,16,20,32.997729,1,k403-20
...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,z969-25
1889,z969,Naftisol,Male,9,30,30,65.841013,3,z969-30
1890,z969,Naftisol,Male,9,30,35,69.176246,4,z969-35
1891,z969,Naftisol,Male,9,30,40,70.314904,4,z969-40
1892,z969,Naftisol,Male,9,30,45,73.867845,4,z969-45

In [41]:
Selected_columns_Trail_data_complete_df = Trial_data_complete_cleaned_df[["MouseID","Drug Regimen"]]
Selected_columns_Trail_data_complete_df

     MouseID Drug Regimen
0       k403     Ramicane
1       k403     Ramicane
2       k403     Ramicane
3       k403     Ramicane
4       k403     Ramicane
...      ...          ...
1888    z969     Naftisol
1889    z969     Naftisol
1890    z969     Naftisol
1891    z969     Naftisol
1892    z969     Naftisol

[1880 rows x 2 columns]

In [53]:
Mouse_per_drug_df = Selected_columns_Trail_data_complete_df.groupby(["Drug Regimen","MouseID"])
Mouse_per_drug_df.count().head(50)

Empty DataFrame
Columns: []
Index: [(Capomulin, b128), (Capomulin, b742), (Capomulin, f966), (Capomulin, g288), (Capomulin, g316), (Capomulin, i557), (Capomulin, i738), (Capomulin, j119), (Capomulin, j246), (Capomulin, l509), (Capomulin, l897), (Capomulin, m601), (Capomulin, m957), (Capomulin, r157), (Capomulin, r554), (Capomulin, r944), (Capomulin, s185), (Capomulin, s710), (Capomulin, t565), (Capomulin, u364), (Capomulin, v923), (Capomulin, w150), (Capomulin, w914), (Capomulin, x401), (Capomulin, y793), (Ceftamin, a275), (Ceftamin, b447), (Ceftamin, b487), (Ceftamin, b759), (Ceftamin, f436), (Ceftamin, h531), (Ceftamin, j296), (Ceftamin, k210), (Ceftamin, l471), (Ceftamin, l490), (Ceftamin, l558), (Ceftamin, l661), (Ceftamin, l733), (Ceftamin, o287), (Ceftamin, p438), (Ceftamin, q483), (Ceftamin, t573), (Ceftamin, u149), (Ceftamin, u153), (Ceftamin, w151), (Ceftamin, x226), (Ceftamin, x581), (Ceftamin, x822), (Ceftamin, y769), (Ceftamin, y865)]

In [50]:
Capomulin_No_of_Mouse = Mouse_per_drug_df["MouseID"].value_counts()
Capomulin_No_of_Mouse

Drug Regimen  MouseID  MouseID
Capomulin     b128     b128       10
              b742     b742       10
              f966     f966        5
              g288     g288       10
              g316     g316       10
                                  ..
Zoniferol     q633     q633       10
              s337     s337       10
              w140     w140        2
              w575     w575       10
              x613     x613        4
Name: MouseID, Length: 248, dtype: int64

In [46]:
Capomulin_No_of_Mouse = Mouse_per_drug_df.loc[Mouse_per_drug_df["Drug Regimen"] == "Capomulin", :]
Capomulin_No_of_Mouse

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [51]:
# # Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 

#   xxxxx.plot(kind="bar")
#   xxxxx.set_xlabel("Drug Regimen")
#   xxxxx.set_ylabel("Number of mice")
#   plt.titel("Number of mice for each regimen")
#   plot.set_xticklabels(df["Drug Regimen"], rotation=45, horizontalalignment = "right")
#   plt.tight_layout()

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [56]:
Sex_of_Mouse_df = Trial_data_complete_cleaned_df[["MouseID","Sex"]]
Sex_of_Mouse_df

     MouseID   Sex
0       k403  Male
1       k403  Male
2       k403  Male
3       k403  Male
4       k403  Male
...      ...   ...
1888    z969  Male
1889    z969  Male
1890    z969  Male
1891    z969  Male
1892    z969  Male

[1880 rows x 2 columns]

In [75]:
Female_or_Male_Mouse = Sex_of_Mouse_df.groupby(["Sex","MouseID"])
Female_or_Male_Mouse.count()

Empty DataFrame
Columns: []
Index: [(Female, a203), (Female, a251), (Female, a262), (Female, a275), (Female, a366), (Female, a401), (Female, a444), (Female, a457), (Female, a577), (Female, a644), (Female, a699), (Female, a818), (Female, a963), (Female, b128), (Female, b487), (Female, b759), (Female, b879), (Female, c264), (Female, c302), (Female, c326), (Female, c402), (Female, c458), (Female, c559), (Female, c766), (Female, c895), (Female, c927), (Female, d251), (Female, e291), (Female, f129), (Female, f436), (Female, f545), (Female, g107), (Female, g296), (Female, g316), (Female, g867), (Female, h428), (Female, i334), (Female, i386), (Female, i477), (Female, i557), (Female, i669), (Female, i738), (Female, j119), (Female, j246), (Female, j296), (Female, j913), (Female, j984), (Female, k483), (Female, k510), (Female, k754), (Female, k804), (Female, k862), (Female, k894), (Female, l264), (Female, l471), (Female, l558), (Female, l700), (Female, l725), (Female, l733), (Female, m133), (Female, m269), (Female, m331), (Female, m957), (Female, n482), (Female, n630), (Female, n763), (Female, o302), (Female, o523), (Female, o562), (Female, o795), (Female, o848), (Female, o973), (Female, p136), (Female, p438), (Female, q132), (Female, q511), (Female, q610), (Female, r107), (Female, r554), (Female, r921), (Female, s152), (Female, s185), (Female, s565), (Female, s710), (Female, t565), (Female, t573), (Female, t718), (Female, t724), (Female, u153), (Female, v199), (Female, v289), (Female, v295), (Female, v409), (Female, v603), (Female, v719), (Female, v764), (Female, v923), (Female, v991), (Female, w140), (Female, w167), ...]

[248 rows x 0 columns]

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [64]:
#recall the dataset
Trial_data_complete_cleaned_df

,MouseID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,MouseID_Timepoint
0,k403,Ramicane,Male,21,16,0,45.000000,0,k403-0
1,k403,Ramicane,Male,21,16,5,38.825898,0,k403-5
2,k403,Ramicane,Male,21,16,10,35.014271,1,k403-10
3,k403,Ramicane,Male,21,16,15,34.223992,1,k403-15
4,k403,Ramicane,Male,21,16,20,32.997729,1,k403-20
...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,z969-25
1889,z969,Naftisol,Male,9,30,30,65.841013,3,z969-30
1890,z969,Naftisol,Male,9,30,35,69.176246,4,z969-35
1891,z969,Naftisol,Male,9,30,40,70.314904,4,z969-40
1892,z969,Naftisol,Male,9,30,45,73.867845,4,z969-45

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen